# === Data ===
# Ignores the heavy dataset (GitHub limit is 100MB)
processed_paysim.csv
*.csv

# === Backend ===
__pycache__/
.venv/
venv/
.env

# === Frontend ===
node_modules/
dist/
.vscode/
.DS_Store
*.local